@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition {
   transition: .5s color ease, .5s background-color ease;
   -moz-transition: .5s color ease, .5s background-color ease;
  -webkit-transition: .5s color ease, .5s background-color ease;
  -o-transition: .5s color ease, .5s background-color ease; 
}

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 90.90%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%; 
  position: absolute;
  z-index: 2;
  border-bottom: 2px solid #5c5b6f;
}

header .wrapper {
  padding: 33px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading  { 
  margin-left: calc(1% - 6px);
  display: flex; 
  align-items: center;
}

h1 { flex-basis: 48%; }

h1 a {
  padding-right: 24px;
  border-right: 1px solid #606169;
  margin-right: 24px;
}

.heading span a { color: #bdbec1; }

.navigation {
  display: flex;
  flex-basis: 43%;
  align-items: center;
}

nav a {
  color: #ebebed;
  font-weight: bold;
  font-size: 16px;
  transition: .5s color ease;
  -moz-transition: .5s color ease;
  -webkit-transition: .5s color ease;
  -o-transition: .5s color ease;
}

nav { flex-basis: 95%; }
nav a:hover { color: #bdbec1; }
nav ul { display: flex; }
nav li { margin-right: auto; }
nav li:last-child { margin-right: 0; }
.ham { display: none; }
.search a { text-indent: -99999px; }
.search { flex-basis: 5%; }

.search a::before {
  content: "\f002";
  margin-left: 26px;
  float: right;
  color: #ebebed;
  font-family: fontAwesome;
  text-indent: 0;
  transition: .5s color ease;
  -moz-transition: .5s color ease;
  -webkit-transition: .5s color ease;
  -o-transition: .5s color ease;
}

.search a:hover::before { color: #606169; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner style starts here */
.slider li:not(.active) { display: none; }

.slider li { 
  display: flex; 
  align-items: center;
  background-color: #22242E;
}

.slider .wrapper { 
  width: 100%;
  position: relative;
}
.banner-content { flex-basis: 38%; }

h2 {
  width: 90%;
  color: #fff;
  font-size: 52px;
  font-weight: 100;
}

h2 span {
  display: inline-block;
  font-weight: bold;
}

.slider .content { margin-left: 11%; }

.edi {
  margin-top: 14px;
  display: block;
  color: #d2d3d5;
  font-size: 22px;
  letter-spacing: 46px;
}

.slider .buttons li { 
  display: inline-block;
  text-indent: -9999px;
}

.slider .buttons li::after {
  content: "";
  width: 45px;
  height: 10px;
  border-bottom: 2px solid #5c5b6f;
  text-indent: 0;
  float: right;
}

.slider .buttons li:hover::after,
.buttons .active::after { background-color: #fff; }

.buttons {
  position: absolute;
  bottom: 11%;
  left: 5%;
}
/* banner style ends here */

/*  why us section starts */
.why-us .wrapper {
  padding: 86px 0;
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-bottom: 57px;
  color: #c3c4c6;
  font-size: 18px;
  letter-spacing: 32px;
}

h4 {
  color: #616268;
  font-size: 50px;
  font-weight: 100;
}

h4 span {
  display: block;
  font-weight: 100;
}

.bolding {
  margin-bottom: 36px;
  color: #22242D;
  font-weight: bold;
}

.content { flex-basis: 47%; }

.why-us p{
  width: 82%;
  color: #bebec1;
  font-size: 18px;
  line-height: 27px;
}

.buildings {
  display: flex;
  flex-basis: 50%;
  position: relative;
}

.buildings li:nth-child(2) {
  position: absolute;
  bottom: -92px;
  left: -17.2%
}
/* why us section ends */

/* ask styles starts here */
.ask { 
  margin-top: 18.1%;
  text-align: center; 
}

form {
  width: 65%;
  margin: 0 auto;
}

input:not([type="submit"]), 
textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(209, 209, 211, .5);
  outline: none;
  margin-bottom: 47px;
}

input { padding: 16px 0; }

input::placeholder, 
textarea::placeholder {
  color: #d1d1d3;
  font-size: 18px;
}

input[type="submit"] {
  padding: 22px 8.7%;
  margin-bottom: 60px;
  border: 1px solid #22242D;
  background-color:#22242D;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  outline: none;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #22242D;
}

/* ask styles ends here */





/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

}  
/*media query for 995px ends here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

}  
/*media query for 768px ends here*/
